.ui-mobile-viewport { background-color: #333; }
@media only screen and (min-width: 480px) {
    .ui-page {
        width: 480px !important;
        margin: 0 auto !important;
        position: relative !important;
        border-right: 5px #666 outset !important;
        border-left: 5px #666 outset !important;
    }
}

div.notice-message {
  color: black;
}

div.warning-message {
  color: red;
}

div.error-message {
  color: red;
  font-weight: bold;
}

#register-form div div, #login-form div div {
  padding: 4px;
}

#report-ul li div div.ui-block-a {
  width: 70%;
}

#report-ul li div div.ui-block-b,
#report-ul li div div.ui-block-c,
#report-ul li div div.ui-block-d {
  width: 10%;
  font-weight: normal;
  font-size: 0.8em;
}

#report-ul li div div.ui-block-b,
#report-ul li div div.ui-block-d{
  text-align: right;
  padding-right: 3px;
  font-weight: bold;
}

#flot-container {
  height: 400px;
}

#page-footer h4 {
  font-size: 0.6em;
}

.input-prepend .add-on, .input-append .add-on {
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  display: inline-block;
  font-weight: normal;
  height: 21px;
  line-height: 21px;
  min-width: 16px;
  padding: 4px 5px;
  text-align: center;
  text-shadow: 0 1px 0 #FFFFFF;
  vertical-align: middle;
  width: auto;
}

.input-prepend .add-on, .input-append .add-on, .input-prepend .btn, .input-append .btn {
  border-radius: 0 0 0 0;
  margin-left: -1px;
}

.input-prepend .add-on, .input-prepend .btn {
  margin-right: -1px;
}

.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
  border-radius: 3px 0 0 3px;
}

#register-form div div,
#login-form div div {
  width: 40%;
}

#register-form div div.ui-block-a,
#register-form div div.ui-block-c,
#login-form div div.ui-block-a,
#login-form div div.ui-block-c {
  width: 35px;
  padding-top: 14px;
}