.ui-mobile-viewport { background-color: #333; }
@media only screen and (min-width: 480px) {
    .ui-page {
        width: 480px !important;
        margin: 0 auto !important;
        position: relative !important;
        border-right: 5px #666 outset !important;
        border-left: 5px #666 outset !important;
    }
}

p.error-message {
  color: red;
}