.ui-mobile-viewport { background-color: #333; }
@media only screen and (min-width: 480px) {
    .ui-page {
        width: 480px !important;
        margin: 0 auto !important;
        position: relative !important;
        border-right: 5px #666 outset !important;
        border-left: 5px #666 outset !important;
    }
}

div.notice-message {
  color: black;
}

div.warning-message {
  color: red;
}

div.error-message {
  color: red;
  font-weight: bold;
}

#register-form div div, #login-form div div {
  padding: 4px;
}

#report-ul li div div.ui-block-a {
  width: 70%;
}

#report-ul li div div.ui-block-b,
#report-ul li div div.ui-block-c,
#report-ul li div div.ui-block-d {
  width: 10%;
  font-weight: normal;
  font-size: 0.8em;
}

#report-ul li div div.ui-block-b,
#report-ul li div div.ui-block-d{
  text-align: right;
  padding-right: 3px;
  font-weight: bold;
}
