{% extends '::base.html.twig' %}

{% block pagename %}secure-enter{% endblock %}

{% block header %}
  <a href="/secure" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Enter entry{% endtrans %}</h1>
{% endblock %}

{% block body %}
  <ul data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="{% trans %}Search entry type...{% endtrans %}" data-filter-theme="d" data-theme="d" data-divider-theme="d">
  {% for entryType in entryTypes %}
    <li><a href="/secure/enter/{{ entryType.id }}">{{ entryType.name }}</a></li>
  {% endfor %}
  </ul>

{% endblock %}