{% extends '::base.html.twig' %}

{% block pagename %}secure-index{% endblock %}
{% block datadomcache %}true{% endblock %}

{% block header %}
  <a href="/secure/logout" data-icon="delete" data-theme="d">{% trans %}Log Out{% endtrans %}</a>
  <h1>{% trans %}Dashboard{% endtrans %}</h1>
  <a href="/secure/help" data-icon="search" class="ui-disabled" data-theme="b" data-iconpos="right" data-prefetch>{% trans %}Help{% endtrans %}</a>
{% endblock %}

{% block body %}
  <div class="ui-grid-a">
    <div class="ui-block-a"><a href="/secure/enter" data-iconpos="top" data-icon="plus" data-role="button" data-theme="b" data-prefetch>{% trans %}Enter value{% endtrans %}</a></div>
    <div class="ui-block-b"><a href="/secure/group" data-iconpos="top" data-icon="plus" data-role="button" data-theme="b" data-prefetch>{% trans %}Enter group{% endtrans %}</a></div>
    <div class="ui-block-a"><a href="/secure/stats" data-iconpos="top" data-icon="bar-chart" data-role="button" data-theme="c">{% trans %}Statistics{% endtrans %}</a></div>
    <div class="ui-block-b"><a href="/secure/report" data-iconpos="top" data-icon="credit-card" data-role="button" data-theme="c">{% trans %}Reporting{% endtrans %}</a></div>
  </div>
  <div>
    <img src="{{ asset("/bundles/enymindhealthwelcome/images/bacteria.png") }}" style="float: right; padding: 10px" />
    <p><strong>{% trans %}Entries in system:{% endtrans %}</strong> N/a</p>
  </div>
  <div class="ui-grid-a" style="clear: both;">
    <div class="ui-block-a"><a href="/secure/manage/types" data-iconpos="top" data-icon="gear" data-role="button" data-theme="c">{% trans %}Manage types{% endtrans %}</a></div>
    <div class="ui-block-b"><a href="/secure/manage/group" data-iconpos="top" data-icon="gear" data-role="button" data-theme="c">{% trans %}Manage groups{% endtrans %}</a></div>
    <div class="ui-block-a"><a href="/secure/manage/pool" class="ui-disabled" data-iconpos="top" data-icon="gear" data-role="button" data-theme="c">{% trans %}Manage pools{% endtrans %}</a></div>
    <div class="ui-block-b"><a href="/secure/manage" class="ui-disabled" data-iconpos="top" data-icon="gear" data-role="button" data-theme="a">{% trans %}Settings{% endtrans %}</a></div>
  </div>
{% endblock %}