{% extends '::base.html.twig' %}

{% form_theme form 'EnymindHealthSecureBundle:Form:fields.html.twig' %}

{% block pagename %}secure-manage-types-new{% endblock %}

{% block header %}
  <a href="{{ path('secure_manage_types') }}" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}New entry type{% endtrans %}</h1>
{% endblock %}

{% block body %}
  <form action="{{ path('secure_manage_types_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p><button type="submit" data-icon="check" data-theme="b">Create</button></p>
  </form>
{% endblock %}