{% extends '::base.html.twig' %}

{% block pagename %}about{% endblock %}

{% block header %}
  <a href="/" data-icon="back" data-theme="c" data-prefetch>{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Health Portal About{% endtrans %}</h1>
{% endblock %}

{% block body %}
  <div data-role="collapsible-set">
    <div data-role="collapsible" data-theme="c" data-content-theme="d" data-collapsed="false">
      <h3>Introduction</h3>
      <p><strong>Health Portal</strong> is a personal data tracking application. Target
      audience is meant to be every people in the world.</p>
      <p>No matter if you have a diabetes or high blood pressure, with this application
      you can track your medicine doses and metering data easily and safe.</p>
      <p>Service is provided as a cloud service and stores NONE of your personal
      information so you are operating completely anonymously.</p>
    </div>

    <div data-role="collapsible" data-theme="c" data-content-theme="d">
      <h3>Features</h3>
      <p>Nothing here yet...</p>
    </div>
    
    <div data-role="collapsible" data-theme="c" data-content-theme="d">
      <h3>In the future</h3>
      <p>Nothing here yet...</p>
    </div>
    
    <div data-role="collapsible" data-theme="c" data-content-theme="d">
      <h3>Credits</h3>
      <p>This application is maintained by Enymind Oy, a finnish information
        technology company.</p>
      <p><a href="http://www.enymind.fi" target="_blank" data-role="button" data-inline="true" data-icon="arrow-r" data-mini="true" data-theme="b">Visit Enymind</a></p>
    </div>
  </div>
{% endblock %}