{% extends '::base.html.twig' %}

{% block pagename %}help{% endblock %}

{% block header %}
  <a href="/" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Health Portal About{% endtrans %}</h1>
{% endblock %}

{% block body %}
  <div data-role="collapsible-set">
    <div data-role="collapsible" data-theme="c" data-content-theme="d" data-collapsed="false">
      <h3>Introduction</h3>
      <p></p>
    </div>

    <div data-role="collapsible" data-theme="c" data-content-theme="d">
      <h3>Features</h3>
      <p></p>
    </div>
    
    <div data-role="collapsible" data-theme="c" data-content-theme="d">
      <h3>In the future</h3>
      <p></p>
    </div>
    
    <div data-role="collapsible" data-theme="c" data-content-theme="d">
      <h3>Credits</h3>
      <p></p>
    </div>
  </div>
{% endblock %}