{% extends '::base.html.twig' %}

{% block pagename %}help{% endblock %}

{% block header %}
  <a href="/" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Health Portal Help{% endtrans %}</h1>
  <a href="/search" data-icon="search" data-theme="b" data-iconpos="right">{% trans %}Search{% endtrans %}</a>
{% endblock %}

{% block body %}
  <p>{% trans %}Nothing here yet...{% endtrans %}</p>
{% endblock %}