{% extends '::base.html.twig' %}

{% block header %}
  <a href="/" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Health Portal Log In{% endtrans %}</h1>
  <a onclick="$('#login-form').submit();" data-icon="check" data-theme="b" data-iconpos="right">{% trans %}OK{% endtrans %}</a>
{% endblock %}

{% block body %}
  {% if error %}
  <p><strong>{% trans %}Error occured during log in process:{% endtrans %}</strong></p>
    <p class="error-message">{{ error.message }}</p>
  {% endif %}
  <form action="/secure/login" method="post" id="login-form">
    <div data-role="fieldcontain" class="ui-hide-label">
      <label for="username">{% trans %}Personal code:{% endtrans %}</label>
      <input type="text" name="_username" id="username" value="{{ last_username }}" placeholder="{% trans %}Personal code{% endtrans %}"/>
    </div>
    <div data-role="fieldcontain" class="ui-hide-label">
      <label for="password">{% trans %}Password:{% endtrans %}</label>
      <input type="password" name="_password" id="password" value="" placeholder="{% trans %}Password{% endtrans %}"/>
    </div>
    <button type="submit" name="login" value="submit" data-icon="check" data-theme="b">{% trans %}Log In{% endtrans %}</button>
  </form>
  
  <div data-role="collapsible-set">
    <div data-role="collapsible" data-theme="c" data-content-theme="d" data-collapsed="false" data-icon="info">
      <h3>{% trans %}Hint{% endtrans %}</h3>
      <p>{% trans %}<strong>Set this page</strong> to your browser's <strong>bookmark list</strong> to speed up log in process next time.{% endtrans %}</p>
      <p><a href="/login" data-role="button" data-inline="true" data-icon="arrow-r" data-mini="true" data-theme="b" id="add-bookmark">{% trans %}Add bookmark{% endtrans %}</a></p>
    </div>
    {% if last_username %}
      <div data-role="collapsible" data-theme="b" data-content-theme="d" data-icon="star">
        <h3>{% trans %}Send credentials by email{% endtrans %}</h3>
        <p><strong>{% trans %}No personal information, like your name, email, or your location, is stored in this system without your knowledge.{% endtrans %}</strong></p>
        <form action="/secure/user/send/{{ last_username }}" method="post" id="email-form">
          <div data-role="fieldcontain" class="ui-hide-label">
            <label for="email">{% trans %}Email:{% endtrans %}</label>
            <input type="text" name="email" id="email" value="" placeholder="{% trans %}your@email.com{% endtrans %}" />
          </div>
          <label><input type="checkbox" name="save-email" /> Save my email address</label>
          <a href="/login" data-role="button" name="submit" value="submit" id="email-submit" data-theme="a" data-icon="star">{% trans %}Send{% endtrans %}</a>
        </form>
      </div>
    {% endif %}
  </div>
  
  <div id="bookmark-not-supported-popup" data-role="popup" data-theme="e" data-overlay-theme="a" class="ui-content">
    {% trans %}Adding bookmarks is not supported on your browser!{% endtrans %}
  </div>
  <div id="email-sent-popup" data-role="popup" data-theme="e" data-overlay-theme="a" class="ui-content">
    ...
  </div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
    var bookmark_callback = function(e){
      e.preventDefault();
      var bookmarkUrl = this.href;
      var bookmarkTitle = this.title;

      if (window.sidebar) {
        window.sidebar.addPanel(bookmarkTitle, bookmarkUrl,"");
      } else if( window.external || document.all) {
        window.external.AddFavorite( bookmarkUrl, bookmarkTitle);
      } else if(window.opera) {
        $("#add-bookmark").attr("href",bookmarkUrl);
        $("#add-bookmark").attr("title",bookmarkTitle);
        $("#add-bookmark").attr("rel","sidebar");
      } else {
        $("#bookmark-not-supported-popup").popup("open");
      }
      return false;
    };

    var email_callback = function(e){
      e.preventDefault();
      $.post( $("#email-form").attr("action"), $("#email-form").serialize(), function( data ){
        $("#email-sent-popup").html( data );
        $("#email-sent-popup").popup("open");
      });
      return false;
    };

    $(document).bind('pageshow', function(){
      $("#bookmark-not-supported-popup").popup();      
      $("#add-bookmark").unbind("click", bookmark_callback);
      $("#add-bookmark").bind("click", bookmark_callback);

      $("#email-sent-popup").popup();
      $("#email-submit").unbind("click", email_callback);
      $("#email-submit").bind("click", email_callback);
    });
  </script>
{% endblock %}