{% extends '::base.html.twig' %}

{% block pagename %}login{% endblock %}

{% block header %}
  <a href="/" data-icon="back" data-theme="c">{% trans %}Back{% endtrans %}</a>
  <h1>{% trans %}Health Portal Log In{% endtrans %}</h1>
  <a onclick="$('#login-form').submit();" data-icon="check" data-theme="b" data-iconpos="right">{% trans %}OK{% endtrans %}</a>
{% endblock %}

{% block body %}
  <p>{% trans %}<strong>Please click and type</strong> your personal code and a password.{% endtrans %}</p>
  <form action="/secure/login" method="post" id="login-form">
    <div class="ui-grid-c">
      <div class="ui-block-a input-prepend">
        <span class="add-on"><i class="ui-icon-lock"></i></span>
      </div>
      <div class="ui-block-b">
        <input type="number" name="_username" id="username" value="{{ last_username }}" placeholder="{% trans %}Personal code{% endtrans %}"/>
      </div>
      <div class="ui-block-c input-prepend">
        <span class="add-on"><i class="ui-icon-key"></i></span>
      </div>
      <div class="ui-block-d">
        <input type="password" name="_password" id="password" value="" placeholder="{% trans %}Password{% endtrans %}"/>
      </div>
    </div>
    <button type="submit" name="login" value="submit" data-icon="check" data-theme="b">{% trans %}Log In{% endtrans %}</button>
  </form>
  <br /><br />
  <div data-role="collapsible-set">
    <div data-role="collapsible" data-theme="c" data-content-theme="d" data-collapsed="false" data-icon="info">
      <h3>{% trans %}Hint{% endtrans %}</h3>
      <p>{% trans %}<strong>Set this page</strong> to your browser's <strong>bookmark list</strong> to speed up log in process next time.{% endtrans %}</p>
      <p><a href="/login" data-role="button" data-inline="true" data-icon="arrow-r" data-mini="true" data-theme="b" id="add-bookmark">{% trans %}Add bookmark{% endtrans %}</a></p>
    </div>
    {% if not error and last_username %}
      <div data-role="collapsible" data-theme="b" data-content-theme="d" data-icon="star">
        <h3>{% trans %}Send credentials by email{% endtrans %}</h3>
        <p><strong>{% trans %}No personal information, like your name, email, or your location, is stored in this system without your knowledge.{% endtrans %}</strong></p>
        <form action="/secure/user/send/{{ last_username }}" method="post" id="email-form">
          <div data-role="fieldcontain" class="ui-hide-label">
            <label for="email">{% trans %}Email:{% endtrans %}</label>
            <input type="text" name="email" id="email" value="" placeholder="{% trans %}your@email.com{% endtrans %}" />
          </div>
          <label><input type="checkbox" name="save-email" /> Save my email address</label>
          <a href="/login" data-role="button" name="submit" value="submit" id="email-submit" data-theme="a" data-icon="star">{% trans %}Send{% endtrans %}</a>
        </form>
      </div>
    {% endif %}
  </div>
  
  <div id="bookmark-not-supported-popup" data-role="popup" data-theme="e" data-overlay-theme="a" class="ui-content">
    {% trans %}Adding bookmarks is not supported on your browser!{% endtrans %}
  </div>
{% endblock %}